pdf2image
protobuf==3.20.0
pytesseract
opencv-python
pandas
tensorflow-cpu
imutils
pybind11
fastwer
xlsxwriter
BeautifulSoup4
vietocr
wand
ultralytics
PyYAML
gitpython>=3.1.30
thop>=0.1.1
seaborn>=0.11.0
sqlalchemy
pymysql
mysql-connector-python